body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: #f4f4f4;
    width: 80%;
}

video {
    width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.flex-item {
    flex: 1;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

.flex-item:nth-child(odd) {
    background-color: #f2f2f2;
}

.flex-item:nth-child(even) {
    background-color: #e6e6e6;
}

.flex-item img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    padding: 20px;
}
.grid-item {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }
    .flex-item {
        margin: 10px 0;
    }
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
    .grid-item {
        margin: 10px 0;
    }
}